"*":
  "atom-ternjs": {}
  "atom-typescript": {}
  "autocomplete-haskell": {}
  "autocomplete-plus": {}
  build:
    buildOnSave: true
    panelVisibility: "Show on Error"
    saveOnBuild: true
  core:
    disabledPackages: [
      "term2"
      "language-swig"
      "grunt-runner"
      "nitrogen"
      "build"
      "css-color-underline"
      "react"
      "parcel"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".unison"
      "CVS"
      ".AppleDouble"
      ".LSOverride"
      ".Spotlight-V100"
      ".Trashes"
      "desktop.ini"
      "*.lock"
      "*.sock"
      "*.pid"
      "*.sw?"
      ".unison*"
      "*~"
    ]
    projectHome: "/Users/ivan/dev"
    telemetryConsent: "limited"
    themes: [
      "unity-ui"
      "solarized-light-syntax"
    ]
  deprecated:
    tool:
      grunt: true
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    showInvisibles: true
  emmet: {}
  "exception-reporting":
    userId: "225ff118-31c4-3c8c-59d9-01e6cd8c9aad"
  "gist-it":
    openAfterCreate: true
  "git-plus": {}
  "haskell-ghc-mod": {}
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  "ide-purescript": {}
  "language-babel": {}
  "language-elm":
    elmOraclePath: "/Users/ivan/.nvm/versions/node/v6.7.0/bin/elm-oracle"
  linter:
    statusBar: "Show error of the selected line"
  "linter-elm-make":
    elmMakeExecutablePath: "/usr/local/bin/elm-make"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: false
    globalNodePath: "/Users/ivan/.nvm/versions/node/v6.7.0"
    showRuleIdInMessage: true
  "linter-jsonlint": {}
  "linter-stylelint":
    disableWhenNoConfig: false
    useStandard: true
  "linter-tidy":
    tidyExecutablePath: "/usr/local/bin/tidy"
  minimap:
    autoToggle: false
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  nitrogen:
    showWelcomeOnStartup: false
  "one-dark-ui": {}
  react: {}
  "toggle-quotes": {}
  "tree-view":
    hideIgnoredNames: true
  "unity-dark-ui": {}
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "vim-mode":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
